*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #f3bc56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header img {
    width: 7rem;
}